<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lebot">



    <xacro:property name="base_width" value=".50"/>
    <xacro:property name="base_height" value=".125"/>
    <xacro:property name="base_depth" value=".45"/>

    <xacro:property name="top_block_width" value=".50"/>
    <xacro:property name="top_block_height" value="0.20"/>
    <xacro:property name="top_block_depth" value="0.10"/>
    
    <xacro:property name="side_block_width" value="0.050"/>
    <xacro:property name="side_block_height" value="${1.10-(top_block_height-base_height)}"/>
    <xacro:property name="side_block_depth" value="0.10"/>

    <xacro:property name="drive_wheel_rad" value=".055"/>
    <xacro:property name="wheel_len" value=".01"/>
    <xacro:property name="supp_wheel_rad" value=".03"/>
    <xacro:property name="wheel_offset" value=".01"/>
    <xacro:property name="drive_wheel_posZ" value="-${(((base_height/2)+wheel_offset)-(drive_wheel_rad*2))+(drive_wheel_rad)}"/>
    <xacro:property name="supp_whell_posZ" value="-${(((base_height/2)+wheel_offset)-(supp_wheel_rad*2))+(supp_wheel_rad)}"/>
    <xacro:property name="whell_posY" value="${base_width/2 + wheel_len/2}"/>

    <xacro:property name="sensor_rad" value=".03"/>
    <xacro:property name="sensor_len" value=".03"/>

    <xacro:property name="PI" value="3.1415"/>



    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>
    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>
    <material name="teal">
        <color rgba="0 0.5 .5 1"/>
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>



    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${base_depth} ${base_width} ${base_height}"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <!-- <collision/>
        <inertial />-->
    </link>

    <link name="left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${drive_wheel_rad}" length="${wheel_len}"/>
            </geometry>
            <material name="red"/>
        </visual>
       <!-- <collision/>
        <inertial />-->
    </link>

    <link name="right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${drive_wheel_rad}" length="${wheel_len}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <!--<collision/>
        <inertial />-->
    </link>

    <link name="right_support_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${supp_wheel_rad}" length="${wheel_len}"/>
            </geometry>
            <material name="green"/>
        </visual>
        <!--<collision/>
        <inertial />-->
    </link>

    <link name="left_support_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${supp_wheel_rad}" length="${wheel_len}"/>
            </geometry>
            <material name="green"/>
        </visual>
        <!--<collision/>
        <inertial />-->
    </link>

    <link name="left_support_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${side_block_depth} ${side_block_width} ${side_block_height}"/>
            </geometry>
            <material name="teal"/>
        </visual>
        <!--collision/>3
        <inertial /-->
    </link>

    <link name="right_support_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${side_block_depth} ${side_block_width} ${side_block_height}"/>
            </geometry>
            <material name="teal"/>
        </visual>
        <!--collision/>
        <inertial /-->
    </link>

    <link name="top_block_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${top_block_depth} ${top_block_width} ${top_block_height}"/>
            </geometry>
            <material name="teal"/>
        </visual>
        <!--collision/>
        <inertial /-->
    </link> 

    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${sensor_rad}" length="${sensor_len}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <!--collision/>
        <inertial /-->
    </link>

    <link name="camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${sensor_rad}" length="${sensor_len}"/>
            </geometry>
            <material name="white"/>
        </visual>
        <!--collision/>
        <inertial /-->
    </link>

   

    <joint name="base_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="left_wheel_link"/>
        <origin xyz="-0.13 ${whell_posY} ${drive_wheel_posZ}" rpy="${PI/2.0} 0 0"/>
        <axis xyz="0 0 1" />
    </joint>

    <joint name="base_left_support_wheel_joint" type="continuous"> <!-- continuous for kinematics reason-->
        <parent link="base_link"/>
        <child link="left_support_wheel_link"/>
        <origin xyz="0.13 ${whell_posY} ${supp_whell_posZ}" rpy="${PI/2.0} 0 0"/>
        <axis xyz="0 0 1" />
    </joint>

    <joint name="base_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel_link"/>
        <origin xyz="-0.13 -${whell_posY} ${drive_wheel_posZ}" rpy="${PI/2.0} 0 0"/>
        <axis xyz="0 0 1" />
    </joint>

    <joint name="base_right_support_wheel_joint" type="continuous"> <!-- continuous for kinematics reason-->
        <parent link="base_link"/>
        <child link="right_support_wheel_link"/>
        <origin xyz="0.13 -${whell_posY} ${supp_whell_posZ}" rpy="${PI/2.0} 0 0"/>
        <axis xyz="0 0 1" />
    </joint>

    <joint name="base_top_block_joint" type="fixed">
        <parent link="base_link"/>
        <child link="top_block_link"/>
        <origin xyz="0 0 ${side_block_height + (top_block_height/2)+(base_height/2)}" rpy="0 0 0"/>
        <!--axis xyz="0 0 1" /-->
    </joint>

    <joint name="top_block_left_joint" type="fixed">
        <parent link="top_block_link"/>
        <child link="left_support_link"/>
        <origin xyz="0 ${(base_width/2) - (side_block_width/2)} -${(side_block_height/2) + (top_block_height/2)}" rpy="0 0 0"/>
        <!--axis xyz="0 0 1" /-->
    </joint>

    <joint name="top_block_right_joint" type="fixed">
        <parent link="top_block_link"/>
        <child link="right_support_link"/>
        <origin xyz="0 -${(base_width/2) - (side_block_width/2)} -${(side_block_height/2) + (top_block_height/2)}" rpy="0 0 0"/>
        <!--axis xyz="0 0 1" /-->
    </joint>

    <joint name="top_block_lidar_joint" type="fixed">
        <parent link="top_block_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 ${(top_block_height)/2 + (sensor_len/2)}" rpy="0 0 0"/>
        <!--axis xyz="0 0 1" /-->
    </joint>

    <joint name="top_block_camera_joint" type="fixed">
        <parent link="top_block_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0 -${(top_block_height)/2 + (sensor_len/2)}" rpy="0 0 0"/>
        <!--axis xyz="0 0 1" /-->
    </joint>
    
<!-- 2 - 1.1875 -->


</robot>